.additional-product {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.additional-product__name {
  @include text-title;
  padding: 0;
  margin: 0;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    max-width: 50%;
  }

  @media (min-width: $desktop) {
    margin-right: auto;
    max-width: 30%;
  }
}

.additional-product__features {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 12px;
  min-width: 100%;

  @media (min-width: $tablet) {
    margin: 0;
    min-width: 280px;
    justify-content: flex-end;
    max-width: 40%;
  }

  @media (min-width: $desktop) {
    width: 288px;
  }
}

.additional-product__volume {
  padding: 0;
  margin: 0;
  text-align: left;
  max-width: 70%;

  @media (min-width: $tablet) {
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.additional-product__price {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;

  @media (min-width: $tablet) {
    text-align: right;
    margin-left: 51px;
    max-width: 25%;
  }

  @media (min-width: $desktop) {
    text-align: left;
    min-width: 44px;
    margin-left: auto;
  }
}

.additional-product__button {
  font-size: 16px;
  padding: 10px;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: 21px;
    line-height: 19px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    min-width: 244px;
    width: auto;
    margin-left: 39px;
  }
}
