.additional-catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 35px;

  @media (min-width: $tablet) {
    grid-row-gap: 69px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr auto;
    grid-column-gap: 80px;
  }
}

.additional-catalog__title {
  font-size: 24px;
  line-height: 24px;
  width: 100%;
  margin: 0;
  margin-top: 28px;

  @media (min-width: $tablet) {
    grid-row-gap: 69px;
    margin-top: 68px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / span 2;
    margin-top: 75px;
  }
}

.additional-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.additional-catalog__item {
  border-top: 1px solid $grey-border;
  box-sizing: border-box;
  padding: 13px 0 19px;

  &:last-child {
    border-bottom: 1px solid $grey-border;
  }

  @media (min-width: $tablet) {
    border-left: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
    padding: 26px 37px 28px 38px;
  }

  @media (min-width: $desktop) {
    border-left: none;
    border-right: none;
    padding: 15px 0 16px;
  }
}

.additional-catalog__product {
  @media (min-width: $desktop) {
    min-width: 896px;
  }
}

.additional-catalog__special-offer {
  color: $basic-white;
  background-color: $intro-green;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  margin-top: 4px;
  min-height: 289px;
  text-align: center;

  @media (min-width: $tablet) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    text-align: left;
    align-items: center;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    min-height: 289px;
    min-width: 245px;
    text-align: center;
  }

  &::before {
    content: url("../img/icon-gift.svg");
    display: block;
    height: 78px;
    margin-top: 58px;
    width: 100%;

    @media (min-width: $tablet) {
      margin: 0 265px 5px 78px;
      width: 80px;
    }

    @media (min-width: $desktop) {
      margin: 56px auto 5px;
      width: 100%;
    }
  }
}
