.example {
  position: relative;
  background: $basic-grey;

  @media (min-width: $tablet) {
    border-top: 1px solid $nav-border;
    background: linear-gradient(to bottom, transparent 619px, $basic-grey 619px);
  }

  @media (min-width: $desktop) {
    border-top: none;
    background:
      linear-gradient(to bottom, $basic-white 194px, transparent 194px),
      linear-gradient(to right, $basic-grey 50%, $example-bg 50%);
  }
}

$range-input: 50%;

$background-range: $desktop - 110px - 570px + 570px * $range-input / 100%;

.example__wrapper {
  display: grid;
  padding-top: 27px;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    padding-top: 43px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 440px 610px;
    padding-top: 2px;
    padding-bottom: 68px;
    justify-content: space-between;
    grid-template-rows: auto auto auto auto;
    background:
      linear-gradient(to bottom, $basic-white 194px, transparent 194px),
      linear-gradient(to right, $basic-grey $background-range, $example-bg  $background-range);
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin-bottom: 63px;
    grid-column: 1 / span 2;
  }

  @media (min-width: $desktop) {
    margin-top: 56px;
    margin-bottom: 146px;
    grid-column: 1 / span 1;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 99%;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
    grid-column: 1 / span 2;
  }

  @media (min-width: $desktop) {
    margin-bottom: 69px;
    grid-column: 1 / span 1;
  }
}

.example__data-list {
  margin: 0;
  display: flex;
  column-gap: 31px;
  max-width: 279px;
  justify-self: center;

  @media (min-width: $tablet) {
    column-gap: 42px;
    max-width: 366px;
    justify-self: start;
  }
}

.example__data-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 124px;

  @media (min-width: $tablet) {
    justify-content: space-between;
    width: 162px;
  }
}

.example__number {
  @include text-title;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey-border;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
  min-height: 55px;
  padding: 10px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
    min-height: 72px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 15px;
  }
}

.example__description {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  top: -7px;
  background-color: $basic-grey;
  margin-bottom: auto;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
    top: -8px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop) {
    background-color: $basic-grey;
    top: -9px;
  }
}

.example__sum {
  @include text-title;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 11px;
  column-gap: 4px;

  @media (min-width: $tablet) {
    font-size: 20px;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 9px;
    margin-bottom: 23px;
    margin-right: 1px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 24px;
    max-width: 366px;
    margin-top: 46px;
    margin-bottom: 6px;
  }
}

.example__sum-description {
  margin: 0;
  flex-shrink: 0;
  max-width: 50%;
  text-align: right;

  @media (min-width: $tablet) {
    max-width: 100%;
  }

  @media (min-width: $desktop) {
    max-width: 50%;
  }
}

.example__sum-number {
  margin: 0;
  flex-shrink: 0;
  max-width: 50%;
  text-align: left;

  @media (min-width: $tablet) {
    flex-grow: 1;
    max-width: 100%;
    text-align: right;
  }

  @media (min-width: $desktop) {
    max-width: 50%;
    text-align: center;
  }
}

.example__widget {
  margin-top: 34px;

  @media (min-width: $tablet) {
    grid-column: 1 / span 2;
    margin-top: 49px;
  }

  @media (min-width: $desktop) {
    grid-column: 2;
    grid-row: 1 / span 4;
    margin-top: 0;
  }
}

.example__pictures-wrapper {
  height: 264px;
  position: relative;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    height: 560px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    height: 559px;
    width: 650px;
  }
}

.example__picture-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;

  @media (min-width: $tablet) {
    display: flex;
  }

  &--active {
    display: flex;
  }

  &--before {
    @media (min-width: $tablet) {
      clip-path: polygon(-40px 0, $range-input 0, $range-input 100%, -40px 100%);
    }
  }

  &--after {
    @media (min-width: $tablet) {
      clip-path: polygon(100% -40px, $range-input -40px, $range-input 100%, 100% 100%);
    }
  }
}

.example__picture {
  display: block;
  margin: auto;
  width: 320px;
  height: 240px;
  max-width: 320px;

  @media (min-width: $tablet) {
    width: 690px;
    height: 517px;
    max-width: 690px;
  }

  &--before {
    @media (min-width: $tablet) {
      margin-top: 23px;
      margin-right: 0;
      margin-left: 14px;
    }

    @media (min-width: $desktop) {
      margin-top: 2px;
      margin-right: 40px;
      margin-left: 0;
    }
  }

  &--after {
    margin-top: 10px;
    margin-right: 12px;

    @media (min-width: $tablet) {
      margin-top: 23px;
      margin-right: 0;
      margin-left: 14px;
    }

    @media (min-width: $desktop) {
      margin-top: 1px;
      margin-right: 40px;
      margin-left: 0;
    }
  }
}

.example__controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 18px;
  position: relative;
  z-index: 2;

  @media (min-width: $desktop) {
    margin-left: 40px;
    column-gap: 20px;
  }
}

.example__button-wrapper {
  width: calc((100vw - 20px * 2 - 18px * 2 - 84px) / 2);

  @media (min-width: $tablet) {
    width: calc((100vw - 30px * 2 - 18px * 2 - 428px) / 2);
  }

  @media (min-width: $desktop) {
    width: calc((570px - 18px * 2 - 428px) / 2);
  }

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }
}

.example__button {
  @include text-title;
  position: relative;
  margin: 0;
  padding: 0;
  border-style: none;
  border-bottom: 1px solid transparent;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;

  @media (min-width: $tablet) {
    font-size: 20px;
    border-bottom: 1px dotted rgba($basic-black, 0.24);
    margin-right: 8px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
  }
}

input {
  &:checked + .example__button--before::before,
  &:checked + .example__button--after::before {
    opacity: 1;
  }

  &:hover + .example__button,
  &:focus + .example__button {
    border-bottom: 1px solid rgba($basic-black, 0.4);
  }

  &:active + .example__button {
    border-bottom: 1px solid transparent;
  }
}

.example__range-wrapper {
  position: relative;
  top: 3px;

  @media (min-width: $tablet) {
    top: 9px;
  }

  @media (min-width: $desktop) {
    margin-left: 5px;
    top: 8px;
  }
}

.example__range-line {
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  background-color: $basic-white;
  border: 1px solid $grey-border;
  border-radius: 7px;

  @media (min-width: $tablet) {
    width: 428px;
    height: 6px;
    background-color: $slider-bg;
    border: none;
    border-radius: 3px;
  }
}

.example__range-control {
  position: absolute;
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 3px;
  top: 4px;

  &--before {
    left: 6px;
    right: unset;
  }

  &--after {
    left: unset;
    right: 6px;
  }

  @media (min-width: $tablet) {
    display: block;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border: 1px solid $grey-border;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba($basic-black, 0.16);
    top: -14px;
    left: 197px;
    cursor: pointer;
  }

  &::before {
    content: "";
    display: none;

    @media (min-width: $tablet) {
      display: block;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
      position: absolute;
      z-index: 2;
      top: 12px;
      left: 12px;
    }
  }
}
