// .form {
// }
//
.form__title {
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 56px;
  }
}

.form__subtitle {
  @include text-title;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__form {
  display: grid;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    padding: 0;
  }
}

.form__section {
  border: none;
  margin: 0;
  padding: 0;

  &--program {
    border-top: 1px solid $grey-border-input;
    border-bottom: 1px solid $grey-border-input;
    margin-top: 27px;
    padding: 20px 0 22px;

    @media (min-width: $tablet) {
      border: 1px solid $grey-border-input;
      margin-top: 72px;
      margin-bottom: 6px;
      padding: 25px 28px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--contacts {
    @media (min-width: $desktop) {
      grid-column: 1 / span 2;
    }
  }

  &--comment {
    @media (min-width: $tablet) {
      margin-top: 19px;
    }

    @media (min-width: $desktop) {
      grid-column: 1 / span 2;
    }
  }

  &--additional-products {
    @media (min-width: $desktop) {
      grid-column: 1 / span 2;
    }
  }
}

.form__section-wrapper {
  padding: 0;
  margin: 0;

  &--about-cat {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 14px;

    @media (min-width: $tablet) {
      grid-row-gap: 20px;
    }
  }

  &--contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 14px;

    @media (min-width: $tablet) {
      grid-row-gap: 20px;
      margin-top: 19px;
    }

    @media (min-width: $desktop) {
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / span 2;
      grid-column-gap: 78px;
    }
  }
}

.form__section-title {
  @include text-title;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    margin-top: 69px;
  }
}

.form__program-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__program-item {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__additional-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(auto-fit, 245px);
    grid-row-gap: 32px;
    grid-column-gap: 99px;
    justify-content: start;
  }

  @media (min-width: $desktop) {
    grid-column-gap: 61px;
    justify-content: space-between;
  }
}
//
// .form__additional-products-item {
// }
// введенные символя сдвигаются на 1-2пикселя вверх относительно плейсхолдера

.form__input-label {
  @include text-title;
  display: flex;
  width: 100%;
  text-transform: uppercase;
  color: $grey-text;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    color: $grey-dark-text;
    position: relative;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 45px;

    @media (min-width: $tablet) {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 60px;
    }
  }

  &--radio::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid $grey-border;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &--radio::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-color: $basic-green;
    opacity: 0;
    width: 13.5px;
    height: 13.5px;
    left: 9.25px;
    top: 9.25px;

    @media (min-width: $tablet) {
      width: 18px;
      height: 18px;
      left: 12px;
      top: 12px;
    }
  }

  &--checkbox {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    color: $basic-black;
    position: relative;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 45px;

    @media (min-width: $tablet) {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 60px;
    }
  }

  &--checkbox::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    border: 1px solid $grey-border;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &--checkbox::after {
    content: url("../img/icon-tick.svg");
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 26px;
    height: 26px;
    left: 3px;
    top: 3px;

    @media (min-width: $tablet) {
      left: 7px;
      top: 7px;
    }
  }
}

.form__input-description {
  padding: 0;
  margin: 0;
  align-self: center;
  flex-shrink: 0;
}

input {
  &:focus + .form__input-label--radio::before,
  &:focus + .form__input-label--checkbox::before,
  &:hover + .form__input-label--radio::before,
  &:hover + .form__input-label--checkbox::before {
    border-color: $grey-border-action;
  }

  &:active + .form__input-label--radio,
  &:active + .form__input-label--checkbox,
  &:disabled + .form__input-label--radio,
  &:disabled + .form__input-label--checkbox {
    opacity: $alpha30;
    cursor: default;
  }

  &:checked + .form__input-label--radio::after,
  &:checked + .form__input-label--checkbox::after {
    opacity: 1;
  }
}

.form__input-field {
  @include text-title;
  text-transform: uppercase;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0;
  margin-left: 14px;
  padding: 11px 19px;
  border: 1px solid $grey-border-input;
  height: 45px;
  font-size: 16px;
  line-height: 18px;
  width: 100px;

  &:hover {
    border-color: $grey-border;
  }

  &:active,
  &:focus {
    border-color: $grey-text;
    border-width: 2px;
    padding: 10px 18px;
  }

  @media (min-width: $tablet) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &--error {
    border-color: $basic-red;
    border-width: 2px;
    outline: none;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: $grey-text;
    opacity: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--comment {
    margin: 0;
    resize: none;
    width: 100%;
    min-height: 150px;
    font-size: 16px;
    line-height: 18px;
    padding: 12px 11px 12px 14px;

    @media (min-width: $tablet) {
      min-height: 174px;
      font-size: 20px;
      line-height: 30px;
      margin-top: 19px;
      padding: 9px 18px;
    }
  }

  &--comment:active,
  &--comment:focus {
    padding: 11px 10px 11px 13px;

    @media (min-width: $tablet) {
      padding: 8px 17px;
    }
  }
  //
  // &--name {
  // }
  //
  // &--weight {
  // }
  //
  // &--age {
  // }
  //
  // &--email {
  // }
  //
  // &--tel {
  // }
  //
  // &--comment::-webkit-resizer {
  //   display: none;
  // }
}

.form__footer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 34px;
  grid-row-gap: 21px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 61px;
    margin-top: 54px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 83px;
    margin-top: 61px;
    grid-column: 1 / span 2;
  }
}
//
// .form__submit-button {
// }

.form__legend {
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 2px;
  }
}
