.page-footer {
  background: $basic-grey;
}
//
// .page-footer__contacts {
// }

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop) {
    padding-top: 58px;
    padding-bottom: 58px;
  }
}

.page-footer__title-link {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 39px;
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4px;
  }

  &:hover,
  &:focus {
    opacity: $alpha80;
  }

  &:active {
    opacity: $alpha60;
  }

  &--index {
    cursor: default;
  }

  &--index:hover,
  &--index:focus,
  &--index:active {
    opacity: 1;
  }
}

.page-footer__socials {
  border-top: 1px solid $nav-border;
  border-bottom: 1px solid $nav-border;
  margin: 0;
  padding: 21px 0 19px;

  @media (min-width: $tablet) {
    flex-grow: 1;
    padding: 0;
    border: none;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 22px 0;

  @media (min-width: $tablet) {
    margin: 0;
  }

  .page-footer__copyright-logo {
    fill: $footer-icon;
  }

  &:hover .page-footer__copyright-logo,
  &:focus .page-footer__copyright-logo,
  &:active .page-footer__copyright-logo {
    fill: $basic-green;
  }

  &:active .page-footer__copyright-logo,
  &:active .page-footer__copyright-text {
    opacity: $alpha30;
  }
}

.page-footer__copyright-text {
  color: $grey-text;
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    margin-right: 24px;
  }
}
