.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  @media (min-width: $tablet) {
    grid-row-gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding: 30px 20px 18px;

  @media (min-width: $tablet) {
    padding: 77px 62px 56px 52px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 77px 52px 57px;
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

@mixin programs__program-wrapper--before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
}

.programs__program-wrapper {
  position: relative;
  display: block;

  &--slim {
    @media (min-width: $tablet) {
      padding-right: 217px;
    }

    @media (min-width: $desktop) {
      padding-right: 0;
    }
  }

  &--slim::before {
    @include programs__program-wrapper--before;
    background-image: url("../img/icon-cat-slim.svg");
    height: 53px;
    width: 50px;
    top: -9px;
    left: 2px;

    @media (min-width: $tablet) {
      height: 211px;
      width: 200px;
      top: 4px;
      left: auto;
      right: 0;
    }

    @media (min-width: $desktop) {
      height: 106px;
      width: 100px;
      top: -36px;
      left: 0;
    }
  }

  &--pro {
    @media (min-width: $tablet) {
      padding-right: 254px;
    }

    @media (min-width: $desktop) {
      padding-right: 0;
    }
  }

  &--pro::before {
    @include programs__program-wrapper--before;
    background-image: url("../img/icon-cat-pro.svg");
    height: 50px;
    width: 67px;
    top: -5px;
    left: -7px;

    @media (min-width: $tablet) {
      height: 200px;
      width: 268px;
      top: 14px;
      left: auto;
      right: -34px;
    }

    @media (min-width: $desktop) {
      height: 100px;
      width: 134px;
      top: -30px;
      left: -18px;
    }
  }
}

.programs__title {
  @include text-title;
  margin: 0;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  padding-left: 71px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-left: 162px;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $footer-border;

  @media (min-width: $tablet) {
    border: none;
    padding-bottom: 0;
  }
}

.programs__link {
  @include text-title;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-top: 19px;
  padding-right: 48px;

  @media (min-width: $tablet) {
    margin-top: 57px;
    font-size: 20px;
    line-height: 20px;
    padding-right: 57px;
  }

  @media (min-width: $desktop) {
    margin-top: 33px;
    font-size: 20px;
    line-height: 20px;
    padding-right: 60px;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    content: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: $alpha30;
  }

  &::after {
    content: url("../img/icon-right-arrow-long.svg");
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 32px;
    right: 0;
    top: -1px;

    @media (min-width: $tablet) {
      top: -3px;
    }

    @media (min-width: $desktop) {
      top: -5px;
    }
  }
}
