.socials {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 55px);
  justify-content: center;
  grid-row-gap: 20px;

  @media (min-width: $tablet) {
    margin-left: 30px;
    grid-template-columns: repeat(auto-fit, 52px);
    margin-bottom: 4px;
  }

  @media (min-width: $desktop) {
    margin-left: 34px;
  }
}

.socials__item {
  display: flex;
  width: auto;
  align-items: center;
}

.socials__link {
  margin: auto;
  display: flex;
  fill: $footer-icon;

  &--vk {
    svg {
      width: 23px;
      height: 13px;

      @media (min-width: $tablet) {
        width: 33px;
        height: 21px;
      }
    }
  }

  &--ig {
    svg {
      width: 16px;
      height: 16px;

      @media (min-width: $tablet) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    svg {
      width: 22px;
      height: 22px;
      margin-right: 6px;

      @media (min-width: $tablet) {
        width: 33px;
        height: 33px;
        margin-right: 9px;
      }
    }
  }

  .socials__logo {
    fill: $footer-icon;
  }

  &:hover .socials__logo,
  &:focus .socials__logo,
  &:active .socials__logo {
    fill: $basic-green;
  }

  &:active .socials__logo {
    opacity: $alpha30;
  }
}
