.subtitle {
  @include text-title;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    max-width: calc(100vw - 30px * 2 - 80px);
  }

  @media (min-width: $desktop - (110px - 30px) * 2) {
    max-width: calc($desktop - 110px * 2 - 80px);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $basic-white;
    height: 4px;
    width: calc(100% + 20px + 24px);
    z-index: -1;
    left: -20px;
    top: 15px;

    @media (min-width: $tablet) {
      top: 21px;
      left: -40px;
      width: calc(100% + 40px + 40px);
      max-width: calc(100vw - 30px * 2);
    }

    @media (min-width: $desktop - (110px - 30px) * 2) {
      max-width: calc($desktop - 110px * 2);
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $basic-green;
    height: 2px;
    width: 100vw;
    z-index: -2;
    top: 16px;
    transform: translateX(-20px);

    @media (min-width: $tablet) {
      top: 22px;
      transform: translateX(-70px);
    }

    @media (min-width: $desktop - (110px - 30px) * 2) {
      transform: translateX(calc(((100vw - 1220px) / 2) * -1 - 40px));
    }

    @media (min-width: $desktop) {
      transform: translateX(calc(((100vw - 1220px) / 2) * -1));
    }
  }
}
