@mixin container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  min-width: $mobile;
  padding: 0 20px;

  @media (min-width: $tablet) {
    min-width: $tablet;
    max-width: $desktop - (110px - 30px) * 2;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    max-width: $desktop;
    padding: 0 110px;
  }
}

@mixin anticontainer {
  box-sizing: border-box;
  padding: 0;
  min-width: unset;
  max-width: unset;
  width: unset;
}


.container {
  @include container;

  &--mobile {
    @include container;

    @media (min-width: $tablet) {
      @include anticontainer;
      display: contents;
    }
  }

  &--tablet-desktop {
    @media (min-width: $tablet) {
      @include container;
    }
  }
}
