@mixin text-main {
  font: {
    family: "Arial", sans-serif;
    weight: 400;
  }
}

@mixin text-title {
  font: {
    family: "Oswald", "Arial", sans-serif;
    weight: 400;
  }
  color: $basic-black;
}
